.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 38, 112);
    padding: 10px;
    align-items: center;
}

.logo h1{
color: #fff;
font-size: 2rem;
cursor: pointer;
padding: 30px;
}
.logo h1:hover{
    border-bottom: 1px solid #fff;
    }
.links{
    margin-right: 50px;
}
.links a{
    padding: 25px;
    justify-content: space-between;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.links a:hover{
    border-bottom: 2px solid #fff;

}